[submodule ".icons/rose-pine-hyprcursor"]
	path = .icons/rose-pine-hyprcursor
	url = https://github.com/ndom91/rose-pine-hyprcursor
[submodule ".icons/rose-pine"]
	path = .icons/rose-pine
	url = https://github.com/rose-pine/cursor
