$mainMonitor = DP-1
$subMonitor = DP-2
$resolution = highrr # 1920x1080@60

monitor=$mainMonitor,$resolution,0x0,1
# monitor=$subMonitor,$resolution,0x0,$scale,mirror,$mainMonitor

# mouse sens is dependent on hardware
input {
	sensitivity = 0
}

# extensions
source = ./save-battery.conf
