# change this to your monitor (run `hyprctl monitors list` to see all monitors)
$monitor = DP-1

$path = /home/aster/wallpaper/storage/wallpaper.png

preload = $path

wallpaper = $monitor, $path

splash = false

# fully disable ipc
# ipc = off
